node_modules
.env
.env.local
.env.dev
.env.mainnet
.orchestrator-logs
batcher-data
dist
build
packages/*/dist
packages/*/build
packages/frontend/client/dist
packages/*/ignition/deployments
*.log
.DS_Store
.vscode
.idea
